/* Poor Man's Grid */
.grid
{
	width: 200px;
}
.grid > span, .grid > input, .grid > label, .grid > select
{
	position: absolute;
}
.grid-1
{
	margin-left: 10px;
}
.grid-2
{
	margin-left: 20px;
}
.grid-3
{
	margin-left: 30px;
}
.grid-4
{
	margin-left: 40px;
}
.grid-5
{
	margin-left: 50px;
}
.grid-6
{
	margin-left: 60px;
}
.grid-7
{
	margin-left: 70px;
}
.grid-8
{
	margin-left: 80px;
}
.grid-9
{
	margin-left: 90px;
}
.grid-10
{
	margin-left: 100px;
}
.grid-11
{
	margin-left: 110px;
}
.grid-12
{
	margin-left: 120px;
}
.grid-13
{
	margin-left: 130px;

}
.grid-14
{
	margin-left: 140px;
}
.grid-15
{
	margin-left: 150px;
}
.grid-16
{
	margin-left: 160px;
}
.grid-17
{
	margin-left: 170px;
}
.grid-18
{
	margin-left: 180px;
}
.grid-19
{
	margin-left: 190px;
}
.grid-20
{
	margin-left: 200px;
}
.grid-21
{
	margin-left: 210px;
}
.grid-22
{
	margin-left: 220px;
}
.grid-23
{
	margin-left: 230px;
}
.grid-24
{
	margin-left: 240px;
}
.grid-25
{
	margin-left: 250px;
}
.grid-26
{
	margin-left: 260px;
}
.grid-27
{
	margin-left: 270px;
}
.grid-28
{
	margin-left: 280px;
}
.grid-29
{
	margin-left: 290px;
}
.grid-30
{
	margin-left: 300px;
}
.grid-31
{
	margin-left: 310px;
}
.grid-32
{
	margin-left: 320px;
}
.grid-33
{
	margin-left: 330px;
}
.grid-34
{
	margin-left: 340px;
}
.grid-35
{
	margin-left: 350px;
}
.grid-36
{
	margin-left: 360px;
}
.grid-37
{
	margin-left: 370px;
}
.grid-38
{
	margin-left: 380px;
}
.grid-39
{
	margin-left: 390px;
}
.grid-40
{
	margin-left: 400px;
}
.grid-41
{
	margin-left: 410px;
}
.grid-42
{
	margin-left: 420px;
}
.grid-43
{
	margin-left: 430px;
}
.grid-44
{
	margin-left: 440px;
}
.grid-45
{
	margin-left: 450px;
}
.grid-46
{
	margin-left: 460px;
}
.grid-47
{
	margin-left: 470px;
}
.grid-48
{
	margin-left: 480px;
}
.grid-49
{
	margin-left: 490px;
}
.grid-50
{
	margin-left: 500px;
}